<?xml version="1.0"?>

<config>
    <modules>
        <Soloyo_Casedesign>
            <version>0.1.5</version>
        </Soloyo_Casedesign>
    </modules>
    <frontend>
        <routers>
            <casedesign>
                <use>standard</use>
                <args>
                    <module>Soloyo_Casedesign</module>
                    <frontName>casedesign</frontName>
                </args>
            </casedesign>
        </routers>
        <layout>
            <updates>
                <casedesign>
                    <file>casedesign.xml</file>
                </casedesign>
            </updates>
        </layout>
        <translate>
            <modules>
                <Soloyo_Casedesign>
                    <files>
                        <default>Soloyo_Casedesign.csv</default>
                    </files>
                </Soloyo_Casedesign>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <casedesignadmin>
                <use>admin</use>
                <args>
                    <module>Soloyo_Casedesign</module>
                    <frontName>casedesignadmin</frontName>
                </args>
            </casedesignadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <casedesign>
                    <file>casedesign.xml</file>
                </casedesign>
            </updates>
        </layout>
        <translate>
            <modules>
                <Soloyo_Casedesign>
                    <files>
                        <default>Soloyo_Casedesign.csv</default>
                    </files>
                </Soloyo_Casedesign>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <fieldsets>
            <sales_convert_quote_item>
                <casedesign_json>
                    <to_order_item>*</to_order_item>
                </casedesign_json>

                <casedesign_pid>
                    <to_order_item>*</to_order_item>
                </casedesign_pid>

                <casedesign_image>
                    <to_order_item>*</to_order_item>
                </casedesign_image>

                <casedesign_thumb>
                    <to_order_item>*</to_order_item>
                </casedesign_thumb>
            </sales_convert_quote_item>
        </fieldsets>
        <models>
            <casedesign>
                <class>Soloyo_Casedesign_Model</class>
                <resourceModel>casedesign_mysql4</resourceModel>
            </casedesign>
            <casedesign_mysql4>
                <class>Soloyo_Casedesign_Model_Mysql4</class>
                <entities>
                    <casedesign>
                        <table>casedesign</table>
                    </casedesign>
                    <casecolor>
                        <table>casecolor</table>
                    </casecolor>
                    <caseart>
                        <table>caseart</table>
                    </caseart>
                    <casefont>
                        <table>casefont</table>
                    </casefont>
                    <caseorder>
                        <table>caseorder</table>
                    </caseorder>
                    <caseorderitem>
                        <table>caseorder_item</table>
                    </caseorderitem>
                </entities>
            </casedesign_mysql4>
        </models>
        <resources>
            <casedesign_setup>
                <setup>
                    <module>Soloyo_Casedesign</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </casedesign_setup>
            <casedesign_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </casedesign_write>
            <casedesign_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </casedesign_read>
        </resources>
        <blocks>
            <casedesign>
                <class>Soloyo_Casedesign_Block</class>
            </casedesign>
        </blocks>
        <helpers>
            <casedesign>
                <class>Soloyo_Casedesign_Helper</class>
            </casedesign>
        </helpers>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <soloyo_casedesign_checkout_cart_product_add_after>
                        <type>model</type>
                        <class>Soloyo_Casedesign_Model_Observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </soloyo_casedesign_checkout_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>


            <sales_order_save_after>
                <observers>
                    <soloyo_casedesign_sale_order_save_after>
                        <class>Soloyo_Casedesign_Model_Observer</class>
                        <method>salesOrderSaveAfter</method>
                    </soloyo_casedesign_sale_order_save_after>
                </observers>
            </sales_order_save_after>


        </events>
    </global>
</config>