<?xml version="1.0"?>

<config>
    <modules>
        <Soloyo_Diachigiaohang>
            <version>0.1.4</version>
        </Soloyo_Diachigiaohang>
    </modules>
    <frontend>
        <routers>
            <diachigiaohang>
                <use>standard</use>
                <args>
                    <module>Soloyo_Diachigiaohang</module>
                    <frontName>diachigiaohang</frontName>
                </args>
            </diachigiaohang>
        </routers>
        <layout>
            <updates>
                <diachigiaohang>
                    <file>diachigiaohang.xml</file>
                </diachigiaohang>
            </updates>
        </layout>
        <translate>
            <modules>
                <Soloyo_Diachigiaohang>
                    <files>
                        <default>Soloyo_Diachigiaohang.csv</default>
                    </files>
                </Soloyo_Diachigiaohang>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <diachigiaohangadmin>
                <use>admin</use>
                <args>
                    <module>Soloyo_Diachigiaohang</module>
                    <frontName>diachigiaohangadmin</frontName>
                </args>
            </diachigiaohangadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <diachigiaohang>
                    <file>diachigiaohang.xml</file>
                </diachigiaohang>
            </updates>
        </layout>
        <translate>
            <modules>
                <Soloyo_Diachigiaohang>
                    <files>
                        <default>Soloyo_Diachigiaohang.csv</default>
                    </files>
                </Soloyo_Diachigiaohang>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <diachigiaohang>
                <class>Soloyo_Diachigiaohang_Model</class>
                <resourceModel>diachigiaohang_mysql4</resourceModel>
            </diachigiaohang>
            <diachigiaohang_mysql4>
                <class>Soloyo_Diachigiaohang_Model_Mysql4</class>
                <entities>
                    <tinhthanh>
                        <table>tinhthanh</table>
                    </tinhthanh>
                    <quanhuyen>
                        <table>quanhuyen</table>
                    </quanhuyen>
                    <xaphuong>
                        <table>xaphuong</table>
                    </xaphuong>
                </entities>
            </diachigiaohang_mysql4>
        </models>
        <resources>
            <diachigiaohang_setup>
                <setup>
                    <module>Soloyo_Diachigiaohang</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </diachigiaohang_setup>
            <diachigiaohang_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </diachigiaohang_write>
            <diachigiaohang_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </diachigiaohang_read>
        </resources>
        <blocks>
            <diachigiaohang>
                <class>Soloyo_Diachigiaohang_Block</class>
            </diachigiaohang>
        </blocks>
        <helpers>
            <diachigiaohang>
                <class>Soloyo_Diachigiaohang_Helper</class>
            </diachigiaohang>
        </helpers>
        <fieldsets>
            <sales_convert_quote_address>
                <xaphuong>
                    <to_order_address>*</to_order_address>
                </xaphuong>
                <xaphuonglabel>
                    <to_order_address>*</to_order_address>
                </xaphuonglabel>
                <citylabel>
                    <to_order_address>*</to_order_address>
                </citylabel>
            </sales_convert_quote_address>
            <customer_address>
                <xaphuong>
                    <to_quote_address>*</to_quote_address>
                </xaphuong>
                <xaphuonglabel>
                    <to_quote_address>*</to_quote_address>
                </xaphuonglabel>
                <citylabel>
                    <to_quote_address>*</to_quote_address>
                </citylabel>
            </customer_address>
        </fieldsets>
    </global>
</config>