<?xml version="1.0"?>

<config>
    <modules>
        <Soloyo_Brandmodel>
            <version>0.1.1</version>
        </Soloyo_Brandmodel>
    </modules>
    <frontend>
        <routers>
            <brandmodel>
                <use>standard</use>
                <args>
                    <module>Soloyo_Brandmodel</module>
                    <frontName>brandmodel</frontName>
                </args>
            </brandmodel>
        </routers>
        <layout>
            <updates>
                <brandmodel>
                    <file>brandmodel.xml</file>
                </brandmodel>
            </updates>
        </layout>
        <translate>
            <modules>
                <Soloyo_Brandmodel>
                    <files>
                        <default>Soloyo_Brandmodel.csv</default>
                    </files>
                </Soloyo_Brandmodel>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <brandmodeladmin>
                <use>admin</use>
                <args>
                    <module>Soloyo_Brandmodel</module>
                    <frontName>brandmodeladmin</frontName>
                </args>
            </brandmodeladmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <brandmodel>
                    <file>brandmodel.xml</file>
                </brandmodel>
            </updates>
        </layout>
        <translate>
            <modules>
                <Soloyo_Brandmodel>
                    <files>
                        <default>Soloyo_Brandmodel.csv</default>
                    </files>
                </Soloyo_Brandmodel>
            </modules>
        </translate>
    </adminhtml>   
    <global>

        <models>
            <brandmodel>
                <class>Soloyo_Brandmodel_Model</class>
                <resourceModel>brandmodel_mysql4</resourceModel>
            </brandmodel>
            <brandmodel_mysql4>
                <class>Soloyo_Brandmodel_Model_Mysql4</class>
                <entities>
                    <brandmobile>
                        <table>brandmobile</table>
                    </brandmobile>
                    <modelmobile>
                        <table>modelmobile</table>
                    </modelmobile>
                    <requestbrand>
                        <table>requestbrand</table>
                    </requestbrand>
                </entities>
            </brandmodel_mysql4>
        </models>
        <resources>
            <brandmodel_setup>
                <setup>
                    <module>Soloyo_Brandmodel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brandmodel_setup>
            <brandmodel_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brandmodel_write>
            <brandmodel_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brandmodel_read>
        </resources>
        <blocks>
            <brandmodel>
                <class>Soloyo_Brandmodel_Block</class>
            </brandmodel>
        </blocks>
        <helpers>
            <brandmodel>
                <class>Soloyo_Brandmodel_Helper</class>
            </brandmodel>
        </helpers>
        <!-- <events>
            <controller_action_predispatch>
                <observers>
                    <brandmodel_observers>
                        <class>brandmodel/observer</class>
                        <method>controllerActionPredispatch</method>
                    </brandmodel_observers>
                </observers>
            </controller_action_predispatch>
        </events> -->
    </global>
</config>