<?xml version="1.0"?>

<config>
    <modules>
        <Soloyo_Soloyo>
            <version>0.1.0</version>
        </Soloyo_Soloyo>
    </modules>
    <frontend>
        <routers>
            <soloyo>
                <use>standard</use>
                <args>
                    <module>Soloyo_Soloyo</module>
                    <frontName>soloyo</frontName>
                </args>
            </soloyo>
        </routers>
        <layout>
            <updates>
                <soloyo>
                    <file>soloyo.xml</file>
                </soloyo>
            </updates>
        </layout>
        <translate>
            <modules>
                <Soloyo_Soloyo>
                    <files>
                        <default>Soloyo_Soloyo.csv</default>
                    </files>
                </Soloyo_Soloyo>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <soloyoadmin>
                <use>admin</use>
                <args>
                    <module>Soloyo_Soloyo</module>
                    <frontName>soloyoadmin</frontName>
                </args>
            </soloyoadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <soloyo>
                    <file>soloyo.xml</file>
                </soloyo>
            </updates>
        </layout>
        <translate>
            <modules>
                <Soloyo_Soloyo>
                    <files>
                        <default>Soloyo_Soloyo.csv</default>
                    </files>
                </Soloyo_Soloyo>
            </modules>
        </translate>
    </adminhtml>
    <global>

        <models>
            <soloyo>
                <class>Soloyo_Soloyo_Model</class>
                <resourceModel>soloyo_mysql4</resourceModel>
            </soloyo>
            <soloyo_mysql4>
                <class>Soloyo_Soloyo_Model_Mysql4</class>
                <entities>
                    <homebanner>
                        <table>homebanner</table>
                    </homebanner>
                    <homecate>
                        <table>homecate</table>
                    </homecate>
                    <homeproducts>
                        <table>homeproducts</table>
                    </homeproducts>
                    <homeitem>
                        <table>homeitem</table>
                    </homeitem>
                </entities>
            </soloyo_mysql4>
        </models>
        <resources>
            <soloyo_setup>
                <setup>
                    <module>Soloyo_Soloyo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </soloyo_setup>
            <soloyo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </soloyo_write>
            <soloyo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </soloyo_read>
        </resources>
        <blocks>
            <soloyo>
                <class>Soloyo_Soloyo_Block</class>
            </soloyo>
        </blocks>
        <helpers>
            <soloyo>
                <class>Soloyo_Soloyo_Helper</class>
            </soloyo>
        </helpers>
    </global>
</config>
